vendor/

nvim/autoload/*
nvim/autoload/plugged/**
my_layout.xkbd
us.tmp
my_layout.xkm
/.vscode/
/nvim/.config/nvim/autoload/
/lvim/.config/lvim/plugin/*.lua
*.gdbm
/doom/.doom.d/custom.el
/home/.config/lvim/plugin/packer_compiled.lua
