[user]
	name = Ghibranalj
	email = 24712554+Ghibranalj@users.noreply.github.com 
[init]
	defaultBranch = master
[alias]
	adog = log --all --decorate --oneline --graph
[github]
	user = ghibranalj
[protocol "file"]
	allow = always
