[Unit]
Description=link-usb

[Service]
Type=simple
ExecStart=/usr/bin/env bash $HOME/.bin/link-usb.sh
Restart=on-failure

[Install]
WantedBy=default.target
