[Unit]
Description=link-usb
After=udiskie.service

[Service]
Type=forking
ExecStart=/usr/bin/bash $HOME/.bin/link-usb.sh
Restart=on-failure

[Install]
WantedBy=default.target
