[Unit]
Description=Spotifyd
After=pipewire.service

[Service]
Type=forking
ExecStart=noisetorch -s alsa_input.usb-Generalplus_Usb_Audio_Device-00.mono-fallback -i
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
