[Unit]
Description=noisetorch
After=pipewire.service
After=pipewire-pulse.service

[Service]
Type=simple
ExecStart=noisetorch -s alsa_input.usb-Generalplus_Usb_Audio_Device-00.mono-fallback -i
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
