[Unit]
Description=Picom compositor
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/picom
KillMode=process
Restart=always

[Install]
WantedBy=xsession.target
