[Unit]
Description=XBindKeys key grabber
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/xbindkeys -n
KillMode=process
Restart=always

[Install]
WantedBy=xsession.target
